@import url('https://fonts.googleapis.com/css2?family=Frijole&display=swap');

.example-spacer {
    flex: 1 1 auto;
  }

.mat-toolbar{ 
    background: rgb(31, 31, 31);
    color: rgb(185, 16, 16);
    font-family: 'Frijole';
}